@model IEnumerable<SaaSApallaktiki.Models.Hobby>

@{
    ViewData["Title"] = "Index";
}

<h1>Hobby list</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HobbyName)
            </th>
            <th>
                My liking
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HobbyName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Users.Any(m => m.UserId == (int)TempData["userId"]))
            </td> *@
            <td>
                    @if(item.Users.Any(m => m.UserId == (int)TempData["userId"]))
                    {
                        <div style="color:green">Interested</div>
                        //<a asp-action="RemoveHobby" >Remove Hobby</a>
                        //<input class="form-check-input" type="checkbox" id="" value="" onclick="NeedSaving()" checked />
                    }else{
                        <div style="color:red">Not interested</div>
                        //<input class="form-check-input" type="checkbox" value="" onclick="NeedSaving()" />
                    }
            </td>
            <td>
                @if (item.Users.Any(m => m.UserId == (int)TempData["userId"]))
                    {
                        <a asp-action="RemoveHobby" asp-route-userId="@TempData["userId"]" asp-route-hobbyId="@item.HobbyId" >Remove Hobby</a>
                    }
                else
                    {
                        <a asp-action="AddHobby" asp-route-userId="@TempData["userId"]" asp-route-hobbyId="@item.HobbyId" >Add Hobby</a>
                    }
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.HobbyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HobbyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HobbyId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="MainMenu" asp-route-userId="@TempData["userId"]" >Main menu</a>
</div>
