@model IEnumerable<SaaSApallaktiki.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses list</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                Attendance status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
                <td>
                    @if (item.Users.Any(m => m.UserId == (int)TempData["userId"]))
                    {
                        <div style="color:green">Attending</div>
                        //<a asp-action="RemoveHobby" >Remove Hobby</a>
                        //<input class="form-check-input" type="checkbox" id="" value="" onclick="NeedSaving()" checked />
                    }
                    else
                    {
                        <div style="color:red">Not attending</div>
                        //<input class="form-check-input" type="checkbox" value="" onclick="NeedSaving()" />
                    }
                </td>
                <td>
                    @if (item.Users.Any(m => m.UserId == (int)TempData["userId"]))
                    {
                        <a asp-action="RemoveCourse" asp-route-userId="@TempData["userId"]" asp-route-courseId="@item.CourseId">Stop attending</a>
                    }
                    else
                    {
                        <a asp-action="AddCourse" asp-route-userId="@TempData["userId"]" asp-route-courseId="@item.CourseId">Start attending</a>
                    }
                </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="MainMenu" asp-route-userId="@TempData["userId"]">Main menu</a>
</div>